@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Cursos";

    List<ListarInstrutoresViewModel> instrutores = ViewBag.Instrutores;
}

@model EditarCursoViewModel

<form class="formulario" action="/Curso/Editar/@Model.Id" method="post">

    <div class="formulario-campo">
        <label>Nome</label>
        <input type="text" name="Nome" value="@Model.Nome">
    </div>

    <div class="formulario-campo">
        <label>Valor</label>
        <input type="number" name="Valor" min="0.01" step="0.01" value="@Model.Valor">
    </div>

    <div class="formulario-campo">
        <label>Data de Início</label>
        <input type="date" name="DataFabricacao" value="@Model.DataInicio">
    </div>

    <div class="formulario-campo">
        <label>Instrutor</label>
        <select name="FabricanteId">
            @foreach (ListarInstrutoresViewModel i in instrutores)
            {
                if (i.Id == Model.InstrutorId)
                {
                    <option value="@i.Id" selected>@i.Nome</option>
                }
                else
                {
                    <option value="@i.Id">@i.Nome</option>
                }
            }
        </select>
    </div>

    <div class="formulario-acoes">
        <a href="/Curso/Listar">Voltar</a>
        <button type="submit">Confirmar</button>
    </div>
</form>